{% extends 'base.html.twig' %}

{% block title %}Liste des Promesses de Dons de la campagne {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="display-1 text-center">Liste des Promesses de Dons de la campagne {{ campagne.nom }}</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered border-dark table-striped">
                    <thead>
                    <tr>
                        {#<th>Id</th>  #}
                        <th class="text-center">Email</th>
                        <th class="text-center">Prenom</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Montant du Don</th>
                        <th class="text-center">Date De Creation</th>
                        <th class="text-center">DateHonore</th>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <th class="text-center">actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for promesse_don in promesse_dons %}
                        <tr>
                            {# <td>{{ promesse_don.id }}</td> #}
                            <td class="text-center">{{ promesse_don.email }}</td>
                            <td class="text-center">{{ promesse_don.prenom }}</td>
                            <td class="text-center">{{ promesse_don.nom }}</td>
                            <td class="text-center">{{ promesse_don.montantDon }} € </td>
                            <td class="text-center">{{ promesse_don.dateDeCreation ? promesse_don.dateDeCreation|date('Y-m-d H:i:s') : '' }}</td>
                            {% if promesse_don.DateHonore is null %}
                                <td class="text-center">Pas encore Honore</td>
                            {% else %}
                                <td class="text-center">{{ promesse_don.dateHonore ? promesse_don.dateHonore|date('Y-m-d H:i:s') : '' }}</td>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <td class="text-center">
                                    <a href="{{ path('app_promesse_don_show', {'id': promesse_don.id}) }}" class="btn btn-primary btn-sm" type="button">Visualiser</a>
                                    <a href="{{ path('app_promesse_don_edit', {'id': promesse_don.id, 'test':true}) }}" class="btn btn-primary btn-sm" type="button">Modifier</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_promesse_don_new') }}" class="btn btn-primary" type="button">Faire un Don</a>
        {% endif %}

            <a href="{{ path('app_campagne_index') }}" class="btn btn-secondary" type="button">Retour</a>

    </div>

{% endblock %}
