{% extends 'base.html.twig' %}

{% block title %}Liste des Campagnes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center display-1">Liste des Campagnes</h1>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>

                    <th class="text-center">Nom</th>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <th class="text-center">Voir les dons</th>
                    {% endif %}
                    <th class="text-center">Faire un don</th>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <th class="text-center">actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for campagne in campagnes %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <tr>

                        <td class="text-center">{{ campagne.nom }}</td>
                        <td class="text-center"><a href="{{ path('app_promesse_don_index_id', { 'id': campagne.id }) }}" class="btn btn-primary btn-sm" type="button">Voir les dons</a></td>
                        <td class="text-center"><a href="{{ path('app_promesse_don_new_by_campagne',{'id': campagne.id}) }}" class="btn btn-primary btn-sm" type="button"> Faire une promesse de don</a></td>
                        <td class="text-center">
                            <a href="{{ path('app_campagne_show', {'id': campagne.id}) }}" class="btn btn-primary btn-sm" type="button">Voir Campagne</a>
                        </td>
                    </tr>
                    {% else %}
                        {% if campagne.active %}
                            <tr>
                                {# <td>{{ campagne.id }}</td> #}
                                <td class="text-center">{{ campagne.nom }}</td>
                                <td class="text-center"><a href="{{ path('app_promesse_don_new_by_campagne',{'id': campagne.id}) }}" class="btn btn-primary btn-sm" type="button"> Faire une promesse de don</a></td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary " type="btn" href="{{ path('app_campagne_new') }}">Ajouter une campagne</a>
        {% endif %}
        <a class="btn btn-secondary " type="btn" href="{{ path('app_home') }}">Retour</a>
    </div>
{% endblock %}
